{% extends 'base.html' %}
{% block content %}
	<h2 style="text-align: center;">Periodic Table of Elements</h2>
<br>
<br>
<br>

<br>
<div id="b"><table>
<tr class="non-metals">
  <td>1</td>
  <td class="RnmG">1<div id="G">H</div> Hydrogen 1.008 </td>
  <td>Atomic No.<br> <b> Symbol <b> <br> Name <br/> Mass </td>
  <td>  </td>
  <td class="LG"><div id="S">H</div> Solid</td>
  <td class="LG"><div id="L">Br</div> Liquid</td>
  <td>  </td>
  <td class="Am">Alkali<br>Metals</td>
  <td class="AEM">Alkali-<br>Earth-<br>Metals</td>
  <td class="lanth">Lanthanoids</td>
  <td class="Mloids" rowspan="2">Metalloids</td>
  <td class="RnmG">Reactive<br>Non-metals</td>
  <td>  </td>
  <td>  </td>
  <td>  </td>
  <td>  </td>
  <td>  </td>
  <td>  </td>
  <td class="Ngas">2<div id="G">He</div> Helium 4.0026 </td>
  </tr>
  <tr class="non-metals">
    <td>2</td>
    <td class="Am">3<br/> <b> Li </b> <br/> Lithium <br/> 6.997 </td>
    <td class="AEM">4<br/> <b> Be </b> <br/> Berylium <br/> 9.0122 </td>
    <td>  </td>
    <td class="LG"><div id="G">He</div> Gas</td>
    <td class="LG"><div id="U">MT</div> Unknown or<br> N/A</td>
    <td>  </td>
    <td class="T-M">Transition-<br>Metals</td>
    <td class="Ptm">Post-<br>Transition-<br>Metals</td>
    <td class="acti">Actinoids</td>
    <td class="Ngas">Noble<br>Gas</td>

    <td>  </td>
    <td class="Mloids">5<br/> <b> B </b> <br/> Boron <br/> 10.821 </td>
    <td class="RnmS">6<br/> <b> C </b> <br/> Carbon <br/> 12.0116 </td>
    <td class="RnmG">7<div id="G">N</div> Nitrogen 14.00728 </td>
    <td class="RnmG">8<div id="G">O</div> Oxygen 15.99977 </td>
    <td class="RnmG">9<div id="G">F</div> Flourine 18.998</td>
    <td class="Ngas">10<div id="G">Ne</div> Neon  20.18 </td>
  </tr>
  <tr class="non-metals">
    <td>3</td>
   <td class="Am">11<br/> <b>Na</b> <br/>Sodium <br/> 22.99 </td>
   <td class="AEM">12<br/> <b>Mg</b> <br/>Magnesium<br/>24.305</td>
   <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td>  </td>
    <td class="Ptm">13<br/> <b> Al </b> <br/> Aluminum <br/> 26.98 </td>
    <td class="Mloids">14<br/> <b> Si </b> <br/> Silicon <br/>28.086</td>
    <td class="RnmS">15<br/> <b> P </b> <br/> Phosporus <br/> 30.98 </td>
    <td class="RnmS">16<br/> <b> S </b> <br/> Sulfur <br/> 32.076 </td>
    <td class="RnmG">10<div id="G">Cl</div> Chlorine <br/> 35.46 </td>
    <td class="Ngas">10<div id="G">Ar</div> Argon 34.95 </td>
  </tr>
  <tr>
    <td>4</td>
    <td class="Am">19<br/> <b> K </b> <br/> Potassium <br/> 39.098 </td>
    <td class="AEM">20<br/> <b> Ca </b> <br/> Calcium <br/> 40.078 </td>
    <td class="T-M">21<br/> <b> Sc </b> <br/> Scandium <br/> 44.96 </td>
    <td class="T-M">22<br/> <b> Ti </b> <br/> Titanium <br/> 47.87 </td>
    <td class="T-M">23<br/> <b> V </b> <br/> Vanadium <br/> 50.94 </td>
    <td class="T-M">24<br/> <b> Cr </b> <br/> Chromium <br/> 51.996 </td>
    <td class="T-M">25<br/> <b> Mn </b> <br/> Manganese <br/> 54.95 </td>
    <td class="T-M">26<br/> <b> Fe </b> <br/> Iron <br/> 55.85 </td>
    <td class="T-M">27<br/> <b> Co </b> <br/> Cobalt <br/> 58.94 </td>
    <td class="T-M">28<br/> <b> Ni </b> <br/> Nickel <br/> 58.69 </td>
    <td class="T-M">29<br/> <b> Cu </b> <br/> Copper <br/> 63.55 </td>
    <td class="T-M">30<br/> <b> Zn </b> <br/> Zinc <br/> 65.509 </td>
    <td class="Ptm">31<br/> <b> Ga </b> <br/> Gallium <br/> 69.72 </td>
    <td class="Mloids">32<br/> <b> Ge </b> <br/> Germanium <br/>72.64</td>
    <td class="Mloids">33<br/> <b> As </b> <br/> Arsenic <br/> 72.96 </td>
    <td class="RnmS">34<br/> <b> Se </b> <br/> Selenium <br/> 78.96 </td>
    <td class="RnmG">10<div id="L">Br</div> Bromine <br/> 79.904 </td>
    <td class="Ngas">35<div id="G">Kr</div> Krypton 83.80 </td>

  </tr>
  <tr class="transition-metals">
    <td>5</td>
    <td class="Am">37<br/><b>Rb</b><br/>Rubidium<br/> 85.468 </td>
    <td class="AEM">38<br/><b>Sr</b><br/>Strontium <br/> 88.906 </td>
    <td class="T-M">39<br/><b>Y</b><br/>Yttrium <br/> 88.906 </td>
    <td class="T-M">40<br/><b>Zr</b><br/>Zirconium <br/> 91.224 </td>
    <td class="T-M">41<br/><b>Nb</b><br/>Niobium <br/> 92.906 </td>
    <td class="T-M">42<br/><b>Mo</b><br/>Molybdenum <br/> 95.95 </td>
    <td class="T-M">43<br/><b>Tc</b><br/>Technetium <br/> (98) </td>
    <td class="T-M">44<br/><b>Ru</b><br/>Ruthenium <br/> 101.07 </td>
    <td class="T-M">45<br/><b>Rh</b><br/>Rhodium <br/>102.91</td>
    <td class="T-M">46<br/><b>Pd</b><br/>Palladium <br/>106.42</td>
    <td class="T-M">47<br/><b>Ag</b><br/>Silver <br/>107.87</td>
    <td class="T-M">48<br/><b>Cd</b><br/>Cadmium <br/>112.41</td>
    <td class="Ptm">49<br/><b>In</b><br/>Indium <br/>114.82</td>
    <td class="Ptm">50<br/><b>Sn</b><br/>Tin <br/> 118.71</td>
    <td class="Mloids">51<br/><b>Sb</b><br/>Antimony <br/>121.76</td>
    <td class="Mloids">52<br/><b>Te</b><br/>Tellurium<br/>127.60</td>
    <td class="RnmS">53<br/><b>I</b><br/>Iodine<br/>126.90</td>
    <td class="Ngas">54<div id="G">Xe</div>Xenon131.29</td>
  </tr>
  <tr class="transition-metals">
    <td>6</td>
    <td class="Am">55<br/> <b> Cs </b> <br/> Caesium <br/> 132.91 </td>
    <td class="AEM">56<br/> <b> Ba </b> <br/> Barium <br/> 137.33 </td>
    <td>57-71</td>
    <td class="T-M">72<br/> <b> Hf </b> <br/> Hafnium <br/> 178.49 </td>
    <td class="T-M">73<br/> <b> Ta </b> <br/> Tantalum <br/> 180.95 </td>
    <td class="T-M">10<div id="S">W</div>Tungsten 183.84</td>
    <td class="T-M">75<br/> <b>Re</b> <br/>Rhenium<br/>186.21</td>
    <td class="T-M">76<br/> <b>Os</b> <br/>Osmium<br/>190.23</td>
    <td class="T-M">77<br/> <b>Ir</b> <br/>Iridium<br/>192.22</td>
    <td class="T-M">78<br/> <b>Pt</b> <br/>Platinum<br/>195.08</td>
    <td class="T-M">79<br/> <b>Au</b> <br/>Gold<br/>196.97</td>
    <td class="T-M">80<div id="L">Hg</div>Mercury 200.59</td>
    <td class="Ptm">81<br/> <b>Tl</b> <br/>Thallium<br/>204.38</td>
    <td class="Ptm">82<br/> <b>Pb</b> <br/>Lead <br/>207.2</td>
    <td class="Ptm">83<br/> <b>Bi</b> <br/>Bismuth <br/>208.98</td>
    <td class="Ptm">84<br/> <b>Po</b> <br/>Polonium<br/>(209)</td>
    <td class="Mloids">85<br/> <b> At </b> <br/>Astatine<br/>(210)</td>
    <td class="Ngas">86<div id="G">Rn</div>Radon (222)</td>
  </tr>
  <tr class="transition-metals">
    <td>7</td>
    <td class="Am">87<br/> <b> Fr </b> <br/> Francium <br/> (223) </td>
    <td class="AEM">88<br/> <b> Ra </b> <br/> Radium <br/> (226) </td>
    <td>89-103  </td>
    <td class="T-M">104<div id="U">Rf</div>Rutherfordium <br>(267)</td>
    <td class="T-M">105<div id="U">Db</div>Dubnium (268)</td>
    <td class="T-M">106<div id="U">Sg</div>Seaborgium (269)</td>
    <td class="T-M">107<div id="U">Bh</div>Bohrium (270)</td>
    <td class="T-M">108<div id="U">Hs</div>Hassium (277)</td>
    <td class="unk">109<div id="U">Mt</div>Meitnerium (278)</td>
    <td class="unk">110<div id="U">Ds</div>Darmstadium (281)</td>
    <td class="unk">111<div id="U">Rg</div>Roentgenium (282)</td>
    <td class="unk">112<div id="U">Cn</div>Copernicium <br>(285)</td>
    <td class="unk">113<div id="U">Nh</div>Nihonium (286)</td>
    <td class="unk">114<div id="U">Fl</div>Flerovium (289)</td>
    <td class="unk">115<div id="U">Mc</div>Moscovium (290)</td>
    <td class="unk">116<div id="U">Lv</div>Livermorium (293)</td>
    <td class="unk">117<div id="U">Ts</div>Tennesine (294)</td>
    <td class="unk">118<div id="U">Og</div>Oganesson (294)</td>
  </tr>

 <tr >
  <td> </td>
  <td >  </td>
  <td >  </td>
  <td bgcolor="blue"> 6 </td>
  <td class="lanth">57<br/> <b>La</b> <br/>Lanthanum<br/>138.91</td>
  <td class="lanth">58<br/> <b>Ce</b> <br/> Cerium <br/>140.12</td>
  <td class="lanth">59<br/> <b>Pr</b> <br/>Praseodymium<br/>140.91</td>
  <td class="lanth">60<br/> <b>Nd</b> <br/>Neodymium<br/>144.24</td>
  <td class="lanth">61<br/> <b>Pm</b> <br/>Promethium<br/>(145)</td>
  <td class="lanth">62<br/> <b>Sm</b> <br/>Samarium<br/>150.36</td>
  <td class="lanth">63<br/> <b>Eu</b> <br/>Europium<br/>151.96</td>
  <td class="lanth">64<br/> <b>Gd</b> <br/>Gadolinium<br/>157.25</td>
  <td class="lanth">65<br/> <b>Tb</b> <br/>Terbium<br/>158.93</td>
  <td class="lanth">66<br/> <b>Dy</b> <br/>Dysprosium<br/>162.50</td>
  <td class="lanth">67<br/> <b>Ho</b> <br/>Holmium<br/>164.93</td>
  <td class="lanth">68<br/> <b>Er</b> <br/>Erbium<br/>167.26</td>
  <td class="lanth">69<br/> <b>Tm</b> <br/>Thulium<br/>168.93</td>
  <td class="lanth">70<br/> <b>Yb</b> <br/>Ytterbium<br/>173.05</td>
  <td class="lanth">71<br/> <b>Lu</b> <br/>Lutetium<br/>174.97</td>
  </tr>

  <tr>
  <td> </td>
  <td>  </td>
  <td>  </td>
  <td bgcolor="blue"> 7 </td>
  <td class="acti">89<br/> <b>Ac</b> <br/>Actinium<br/>(227)</td>
  <td class="acti">90<br/> <b>Th</b> <br/>Thorium<br/>232.04</td>
  <td class="acti">91<br/> <b>Pa</b> <br/>Protactinium<br/>231.04</td>
  <td class="acti">92<br/> <b>U</b> <br/>Uranium<br/>238.03</td>
  <td class="acti">93<br/> <b>Np</b> <br/>Neptunium<br/>(237)</td>
  <td class="acti">94<br/> <b>Pu</b> <br/>Plutonium<br/>(244)</td>
  <td class="acti">95<br/> <b>Am</b> <br/>Americium<br/>(243)</td>
  <td class="acti"96<br/> <b>Cm</b> <br/>Curium<br/>(247)</td>
  <td class="acti">97<br/> <b>Bk</b> <br/>Berkelium<br/>(247)</td>
  <td class="acti">98<br/> <b>Cf</b> <br/>Californium<br/>(251)</td>
  <td class="acti">99<br/> <b>Es</b> <br/>Einsteinium<br/>(252)</td>
  <td class="acti">100<br/> <b>Fm</b> <br/>Fermium<br/>(257)</td>
  <td class="acti">101<br/> <b>Md</b> <br/>Mendelevium<br/>(258)</td>
  <td class="acti">102<br/> <b>No</b> <br/>Nobelium<br/>(259)</td>
  <td class="acti">103<br/> <b>Lr</b> <br/>Lawrencium<br/>(266)</td>
  </tr>
</table></div>
{% endblock %}